.header__lang-link-ru {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #ffffff;
  padding-right: 18px;
}

.header__lang-link-ru:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 320px) {
  .header__lang-link-ru {
    font-size: 18px;
    line-height: 20px;
  }
}
