.lead {
  display: flex;
  flex-direction: column;
  padding: 56px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 0;
    padding-top: 40px;
  }
}
