.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  align-self: center;
  text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 800px) {
  .lead__title {
    max-width: 80%;
    font-size: 76px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    max-width: 80%;
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    max-width: 80%;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 475px) {
  .lead__title {
    max-width: 80%;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
