.list__footer {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  .list__footer {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .list__footer {
    flex-direction: column;
    row-gap: 32px;
    align-self: flex-start;
  }
}
