.place {
  padding: 0;
  margin: 0;
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 2fr;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: 450px 446px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
  }
}

@media screen and (max-width: 950px) {
  .place {
    grid-template-columns: 380px 420px;
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 850px) {
  .place {
    grid-template-columns: 330px 390px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width: 740px) {
  .place {
    column-gap: 0;
    row-gap: 32px;
    grid-template-columns: 100%;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 320px;
  }
}
