.footer {
  margin: 0;
  max-width: 1184px;
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 0 24px 0;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 64px 118px 24px 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    height: 100%;
    padding: 64px 118px 24px 16px;
    display: flex;
    flex-direction: column;
  }
}
